@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

*{
  font-family: outfit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030508;
  color:aliceblue
}